
<h1>Todos Los Productos</h1>
<ul>

 {{#each products}}
    <div>
  <li>{{this.title}}</li>
  <li>{{this.descripcion}}</li>
  <li>{{this.code}}</li>
  <li>{{this.stock}}</li>
  <li>{{this.category}}</li>
  <li>{{this.id}}</li>
  <li>{{this.status}}</li>
    </div>
 {{/each}}

</ul>

<div>fin de productos</div>


